*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
}
body{
  height: 100vh;
  background-color: #feecfe;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container{
  width: 280px;
}
.container__input{
  background-color: #fff;
  border: 1px solid #9d00ca;
  border-radius: 5px;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
input{
  width: 100%;
  display: block;
  border-radius: 5px;
  border: none;
  padding: 3rem 1.5rem 1rem;
  text-align: end;
  font-size: 3rem;
  grid-column: span 4;
}
.btn{
  border: none;
  font-size: 1.5rem;
  padding: 0.9rem 0.7rem;
  margin: 0.1rem;
  background-color: #14003d;
  color: #fff;
}
.symbols{
  background-color: #ad47ca;
}